BasedOnStyle: LLVM
Language: Cpp

ColumnLimit: 120

IndentWidth: 4
UseTab: Never

BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: false
